[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/pi/V104/DMR.png
Exec=sh -c 'cd /home/pi/V104;sleep 10;lxterminal --geometry=72x15 -e sudo sh ejecutar_bm.sh'
Name=Abrir BM
